<div class="mt-20 max-w-xl mx-auto text-center">
  <h1 class="title-4xl">Not Found</h1>
  <h2 class="title-md mt-2">Sorry, we couldn't find what you were looking for</h2>

  <.link navigate={~p"/"} class="btn">Go back to Home</.link>
</div>
